/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a{
  text-decoration: none;
}

.activePage {
  /* color: #2e2e2e; */
  color: red;
  text-decoration: none;
}

/* .nav-link2 {
font-family: 'Helvetica';
font-size: 14px;
font-weight: 300;
color: #2e2e2e;
text-decoration: none;
padding-left: 12px;
padding-right: 12px;
padding-top: 28px;
padding-bottom: 29px;
} */



.nav-link3 {
  display: block;
  padding: 0.5rem 1rem;
  color: #2e2e2e;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link3 {
  display: block;
  padding: 0.5rem 1rem;
  color: #2e2e2e;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
